<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/round-about.css')}}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var stmnLEFT = 100; // 오른쪽 여백 
        var stmnRIGHT = 100; // 왼쪽 여백
        var stmnGAP1 = 0; // 위쪽 여백 
        var stmnGAP2 = 150; // 스크롤시 브라우저 위쪽과 떨어지는 거리 
        var stmnBASE = 150; // 스크롤 시작위치 
        var stmnActivateSpeed = 10; //스크롤을 인식하는 딜레이 (숫자가 클수록 느리게 인식)
        var stmnScrollSpeed = 20; //스크롤 속도 (클수록 느림)
        var stmnTimer; 
 
        function RefreshRightMenu() { 
            var stmnStartPoint, stmnEndPoint; 
            stmnStartPoint = parseInt(document.getElementById('RIGHTMENU').style.top, 10); 
            stmnEndPoint = Math.max(document.documentElement.scrollTop, document.body.scrollTop) + stmnGAP2; 
            if (stmnEndPoint < stmnGAP1) stmnEndPoint = stmnGAP1; 
            if (stmnStartPoint != stmnEndPoint) { 
                stmnScrollAmount = Math.ceil( Math.abs( stmnEndPoint - stmnStartPoint ) / 15 ); 
                document.getElementById('RIGHTMENU').style.top = parseInt(document.getElementById('RIGHTMENU').style.top, 10) + ( ( stmnEndPoint<stmnStartPoint ) ? -stmnScrollAmount : stmnScrollAmount ) + 'px'; 
                stmnRefreshTimer = stmnScrollSpeed; 
            }
            stmnTimer = setTimeout("RefreshRightMenu();", stmnActivateSpeed); 
        } 
        function RefreshLeftMenu() { 
            var stmnStartPoint, stmnEndPoint; 
            stmnStartPoint = parseInt(document.getElementById('LEFTMENU').style.top, 10); 
            stmnEndPoint = Math.max(document.documentElement.scrollTop, document.body.scrollTop) + stmnGAP2; 
            if (stmnEndPoint < stmnGAP1) stmnEndPoint = stmnGAP1; 
            if (stmnStartPoint != stmnEndPoint) { 
                stmnScrollAmount = Math.ceil( Math.abs( stmnEndPoint - stmnStartPoint ) / 15 ); 
                document.getElementById('LEFTMENU').style.top = parseInt(document.getElementById('LEFTMENU').style.top, 10) + ( ( stmnEndPoint<stmnStartPoint ) ? -stmnScrollAmount : stmnScrollAmount ) + 'px'; 
                stmnRefreshTimer = stmnScrollSpeed; 
            }
            stmnTimer = setTimeout("RefreshLeftMenu();", stmnActivateSpeed); 
        } 
        function InitializeRightMenu() {
            document.getElementById('RIGHTMENU').style.right = stmnLEFT + 'px';  //처음에 오른쪽에 위치.
            document.getElementById('RIGHTMENU').style.top = document.body.scrollTop + stmnBASE + 'px'; 
            RefreshRightMenu();
        }
        function InitializeLeftMenu() {
            document.getElementById('LEFTMENU').style.left = stmnRIGHT + 'px';  //처음에 왼쪽에 위치.
            document.getElementById('LEFTMENU').style.top = document.body.scrollTop + stmnBASE + 'px'; 
            RefreshLeftMenu();
        }
        function Init(){
            InitializeRightMenu();
            InitializeLeftMenu();            
        }
       
        
    </script>


    <style type="text/css">
        #RIGHTMENU { margin: 0pt; padding: 0pt;  position: absolute; right: 0px; top: 0px;}
        #LEFTMENU { margin: 0pt; padding: 0pt;  position: absolute; left: 0px; top: 0px;}
        body {font-family:'나눔바른고딕';}   
    </style>

</head>

<body onload="Init();">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AI LAB</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">통합(Tweet+Reply)</a>
                    </li>
                    <li>
                        <a href="#">정치인(Tweet)</a>
                    </li>
                    <li>
                        <a href="#">댓글(Reply)</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">정치적 진영 기반 SNS 텍스트 마이닝
                </h1>
                <p>정치적 진영별 SNS 텍스트 마이닝을 통해 정치적 상황에 따른 진영별 감정 상태 변화를 분석하는 모델을 개발하고 분석 및 시각화 도구 개발.</p>
                <p>정치인들이 많이 활동하는 SNS인 Twitter에 대한 분석.</p>
                <p>정치적 진영에 따른 텍스트 마이닝을 통해 정치적/사회적 상황의 분석이나 상황이 일어난 뒤의 감성 상태의 변화와 사회적 이벤트(e.g 대통령 선거, 총선, 부동산경기, 증시등락 등) 발생의 예측이 가능.</p>
            </div>
        </div>

        <br>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Twitter Analysis</h1>
            </div>
            <div class="col-lg-6 text-center">
                <h2>진보
                    <small>더민주/국민의당</small>
                </h2>
                <div style="height: auto; width: 90%; border:3px solid black;padding: 10px;margin: auto;">
                    <img class="img-rectangle img-responsive img-center" src="{{ url_for('static', filename='img/wordcloud.jpg') }}" alt="">
                </div>
                <div class="col-lg-12 text-left">

                    <h3>Most Frequent Words</h3>

                    <div class="btn-group btn-group-justified" role="group">

                        <div class="btn-group" role="group">
                            <button id="btn1" type="button" class="btn btn-primary">Top 20 Words</button>
                        </div>

                        <div class="btn-group" role="group"> 
                            <button id="btn2" type="button" class="btn btn-default">Top 30 Words</button>
                        </div>

                        <div class="btn-group" role="group">
                            <button id="btn3" type="button" class="btn btn-default">Top 50 Words</button>
                        </div>

                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Word</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>새누리</td>
                                <td>532</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>탄핵</td>
                                <td>389</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>최순실</td>
                                <td>159</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- 페이지 넘버링 네비게이션 -->
                    <!-- <nav class="text-center">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <h2>보수
                    <small>새누리</small>
                </h2>

                <div style="height: auto; width: 90%; border:3px solid black;padding: 10px;margin: auto;">
                    <img class="img-rectangle img-responsive img-center" src="{{ url_for('static', filename='img/wordcloud.jpg') }}" alt="">
                </div>
                <div class="col-lg-12 text-left">
                    <h3>Most Frequent Words</h3>
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button id="btn4" type="button" class="btn btn-primary">Top 20 Words</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn5" type="button" class="btn btn-default">Top 30 Words</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn6" type="button" class="btn btn-default">Top 50 Words</button>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Word</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>새누리</td>
                                <td>532</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>탄핵</td>
                                <td>389</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>최순실</td>
                                <td>159</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- 페이지 넘버링 네비게이션 -->
                    <!-- <nav class="text-center">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="container">
            <!-- Introduction Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">2-Dim Projection</h1>
                    <p>정치적 진영별 SNS 텍스트 마이닝을 통해 정치적 상황에 따른 진영별 감정 상태 변화를 분석하는 모델을 개발하고 분석 및 시각화 도구 개발.</p>
                    <p>정치인들이 많이 활동하는 SNS인 Twitter에 대한 분석.</p>
                    <p>정치적 진영에 따른 텍스트 마이닝을 통해 정치적/사회적 상황의 분석이나 상황이 일어난 뒤의 감성 상태의 변화와 사회적 이벤트(e.g 대통령 선거, 총선, 부동산경기, 증시등락 등) 발생의 예측이 가능.</p>
                </div>
            </div>
        </div>

        <br>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright 2017. Joohong Lee</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->

    <!--사이드배너, 광고, 메뉴 소스 넣어줍니다-->
    <div id="RIGHTMENU">
        <div class="col-lg-12 text-center">
            <h3>보수 정치인</h3>
            <p>새누리당</p>
            <div class="btn-group-vertical btn-group-lg" role="group" aria-label="...">
                <button type="button" class="btn btn-primary active">전체</button>
                <button type="button" class="btn btn-primary active">정치인 1</button>
                <button type="button" class="btn btn-default">정치인 2</button>
                <button type="button" class="btn btn-default">정치인 3</button>
            </div>
            <br><br>
            <div class="btn-group-vertical btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-warning">적용</button>
                <button type="button" class="btn btn-default">원래대로</button>
            </div>
        </div>
    </div>
    <div id="LEFTMENU">
        <div class="col-lg-12 text-center">
            <h3>진보 정치인</h3>
            <p>더불어민주당<br>국민의당</p>
            <div class="btn-group-vertical btn-group-lg" role="group">
                <button type="button" class="btn btn-primary active">전체</button>
                <button type="button" class="btn btn-primary active">정치인 1</button>
                <button type="button" class="btn btn-default">정치인 2</button>
                <button type="button" class="btn btn-default">정치인 3</button>
            </div>
            <br><br>
            <div class="btn-group-vertical btn-group" role="group">
                <button type="button" class="btn btn-warning">적용!</button>
                <button type="button" class="btn btn-default">원래대로</button>
            </div>
        </div>
    </div>
    <!--사이드배너 끝 -->



    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
        $('#btn1').click(function(){
            $("#btn2").removeClass("btn-primary");
            $("#btn2").addClass("btn-default");
            $("#btn3").removeClass("btn-primary");
            $("#btn3").addClass("btn-default");
            $("#btn1").removeClass("btn-default");
            $("#btn1").addClass("btn-primary");
            //
               // query
            //
        });
        $('#btn2').click(function(){
            $("#btn1").removeClass("btn-primary");
            $("#btn1").addClass("btn-default");
            $("#btn3").removeClass("btn-primary");
            $("#btn3").addClass("btn-default");
            $("#btn2").removeClass("btn-default");
            $("#btn2").addClass("btn-primary");
            //
               // query
            //
        });
        $('#btn3').click(function(){
            $("#btn1").removeClass("btn-primary");
            $("#btn1").addClass("btn-default");
            $("#btn2").removeClass("btn-primary");
            $("#btn2").addClass("btn-default");
            $("#btn3").removeClass("btn-default");
            $("#btn3").addClass("btn-primary");
            //
               // query
            //
        });
        $('#btn4').click(function(){
            $("#btn5").removeClass("btn-primary");
            $("#btn5").addClass("btn-default");
            $("#btn6").removeClass("btn-primary");
            $("#btn6").addClass("btn-default");
            $("#btn4").removeClass("btn-default");
            $("#btn4").addClass("btn-primary");
            //
               // query
            //
        });
        $('#btn5').click(function(){
            $("#btn4").removeClass("btn-primary");
            $("#btn4").addClass("btn-default");
            $("#btn6").removeClass("btn-primary");
            $("#btn6").addClass("btn-default");
            $("#btn5").removeClass("btn-default");
            $("#btn5").addClass("btn-primary");
            //
               // query
            //
        });
        $('#btn6').click(function(){
            $("#btn4").removeClass("btn-primary");
            $("#btn4").addClass("btn-default");
            $("#btn5").removeClass("btn-primary");
            $("#btn5").addClass("btn-default");
            $("#btn6").removeClass("btn-default");
            $("#btn6").addClass("btn-primary");
            //
               // query
            //
        });
    </script>
</body>

</html>
